In [1]:
from platform import python_version
print('Versão: ', python_version())

Versão:  3.12.3

In [2]:
# Instalar o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
!pip install -q -U watermark

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
# Essa biblioteca permite a execução de consultas SQL e interagir com bancos de dados SQL.
!pip install -q ipython-sql

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
#Usada para interagir com bancos de dados PostgreSQL
!pip install -q psycopg2

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
# Manipulação  e análise de dados
!pip install -q pandas

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
import pandas as pd
import psycopg2

In [7]:
df = pd.read_csv('arquivos/diabetes.csv')

In [8]:
df.shape

(768, 9)

In [9]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,627.000,50,1
1,1,85,66,29,0,26.6,351.000,31,0
2,8,183,64,0,0,23.3,672.000,32,1
3,1,89,66,23,94,28.1,167.000,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
#Conectando ao Banco de Dados
conn = psycopg2.connect(
    host="localhost",
    database="python_stage",
    user="postgres",
    password="Alf@301082"
)

#criando um cursor
crsr = conn.cursor()


# Itere sobre as linhas do DataFrame e insira os dados na tabela
for index, row in df.iterrows():
    crsr.execute("""INSERT INTO diabetes (pregnacies, glucose, blood_pressure, skin_thicknes, 
                 insulin, bmi, diabetes_pedigree_function, age, outcome)  
                   VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)""", 
                   (row['Pregnancies'].item(), row['Glucose'].item(), row['BloodPressure'].item(), row['SkinThickness'].item(),
                    row['Insulin'].item(), row['BMI'].item(), row['DiabetesPedigreeFunction'].item(), row['Age'].item(), row['Outcome'].item()))

# Confirme a transação
conn.commit()

# Feche o cursor e a conexão
crsr.close()
conn.close()

In [4]:
%load_ext sql

In [5]:
%sql postgresql://postgres:Alf%40301082@localhost/python_stage

In [20]:
%%sql

SELECT * FROM diabetes LIMIT 5

 * postgresql://postgres:***@localhost/python_stage
5 rows affected.

[(1, 6, 148, 72, 35, 0, Decimal('33.6'), Decimal('0.627'), 50, 1),
 (2, 1, 85, 66, 29, 0, Decimal('26.6'), Decimal('0.351'), 31, 0),
 (3, 8, 183, 64, 0, 0, Decimal('23.3'), Decimal('0.672'), 32, 1),
 (4, 1, 89, 66, 23, 94, Decimal('28.1'), Decimal('0.167'), 21, 0),
 (5, 0, 137, 40, 35, 168, Decimal('43.1'), Decimal('2.288'), 33, 1)]

In [21]:
%%sql

CREATE TABLE public.pacientes (
    id SERIAL PRIMARY KEY,
    pregnacies INTEGER,
    glucose INTEGER,
    blood_pressure INTEGER,
    skin_thicknes INTEGER,
    insulin INTEGER,
    bmi FLOAT,
    diabetes_pedigree_function FLOAT,
    age INTEGER,
    outcome INTEGER
);

 * postgresql://postgres:***@localhost/python_stage
Done.

[]

In [22]:
%%sql

INSERT INTO public.pacientes(
	pregnacies, glucose, blood_pressure, skin_thicknes, insulin, bmi, diabetes_pedigree_function, age, outcome)
SELECT pregnacies, glucose, blood_pressure, skin_thicknes, insulin, bmi, diabetes_pedigree_function, age, outcome
FROM public.diabetes
WHERE age > 50;

 * postgresql://postgres:***@localhost/python_stage
81 rows affected.

[]

In [23]:
%%sql

ALTER TABLE IF EXISTS public.pacientes
    ADD COLUMN perfil text;

 * postgresql://postgres:***@localhost/python_stage
Done.

[]

In [24]:
%%sql

UPDATE pacientes
SET perfil = 'Normal'
WHERE bmi < 30

 * postgresql://postgres:***@localhost/python_stage
38 rows affected.

[]

In [25]:
%%sql

UPDATE pacientes
SET perfil = 'Obeso'
WHERE bmi >= 30

 * postgresql://postgres:***@localhost/python_stage
43 rows affected.

[]

In [26]:
#Conectando ao Banco de Dados
conn = psycopg2.connect(
    host="localhost",
    database="python_stage",
    user="postgres",
    password="Alf@301082"
)

#criando um cursor
crsr = conn.cursor()

crsr.execute("""SELECT pregnacies, glucose, blood_pressure, skin_thicknes, insulin, bmi, 
             diabetes_pedigree_function, age, outcome, perfil FROM pacientes""")

resultado = crsr.fetchall()

df_pacientes = pd.DataFrame(resultado, columns=['pregnacies', 'glucose', 'blood_pressure', 'skin_thicknes', 'insulin', 'bmi', 
                                                'diabetes_pedigree_function', 'age', 'outcome', 'perfil'])

df_pacientes.to_csv('arquivos/paciente.csv', index=False)

In [6]:
%%sql

CREATE TABLE public.pacientes_glucose (
    id SERIAL PRIMARY KEY,
    pregnacies INTEGER,
    glucose INTEGER,
    blood_pressure INTEGER,
    skin_thicknes INTEGER,
    insulin INTEGER,
    bmi FLOAT,
    diabetes_pedigree_function FLOAT,
    age INTEGER,
    outcome INTEGER
);

 * postgresql://postgres:***@localhost/python_stage
Done.

[]

In [9]:
%%sql

INSERT INTO public.pacientes_glucose(
	pregnacies, glucose, blood_pressure, skin_thicknes, insulin, bmi, diabetes_pedigree_function, age, outcome)
SELECT pregnacies, glucose, blood_pressure, skin_thicknes, insulin, bmi, diabetes_pedigree_function, age, outcome
FROM public.diabetes
WHERE age < 50;

 * postgresql://postgres:***@localhost/python_stage
679 rows affected.

[]

In [10]:
%%sql

ALTER TABLE IF EXISTS public.pacientes_glucose
    ADD COLUMN perfil_glucose text;

 * postgresql://postgres:***@localhost/python_stage
Done.

[]

In [11]:
%%sql

UPDATE pacientes_glucose
SET perfil_glucose = 'Normal'
WHERE glucose < 100

 * postgresql://postgres:***@localhost/python_stage
189 rows affected.

[]

In [12]:
%%sql

UPDATE pacientes_glucose
SET perfil_glucose = 'Pré-diabético'
WHERE glucose >= 100 AND glucose <= 125;

 * postgresql://postgres:***@localhost/python_stage
251 rows affected.

[]

In [14]:
%%sql

UPDATE pacientes_glucose
SET perfil_glucose = 'Diabético'
WHERE glucose >= 126

 * postgresql://postgres:***@localhost/python_stage
239 rows affected.

[]

In [19]:
# Conectando ao Banco de Dados
conn = psycopg2.connect(
    host="localhost",
    database="python_stage",
    user="postgres",
    password="Alf@301082"
)

#criando um cursor
crsr = conn.cursor()

crsr.execute("""SELECT pregnacies, glucose, blood_pressure, skin_thicknes, insulin, bmi, 
             diabetes_pedigree_function, age, outcome, perfil_glucose FROM pacientes_glucose""")

resultado = crsr.fetchall()

df_pacientes = pd.DataFrame(resultado, columns=['pregnacies', 'glucose', 'blood_pressure', 'skin_thicknes', 'insulin', 'bmi', 
                                                'diabetes_pedigree_function', 'age', 'outcome', 'perfil_glucose'])

df_pacientes.to_csv('arquivos/paciente_glucose.csv', index=False)